# filename of the general ped/cyc/veh SVM classifier
pbv-svm-filename = modelPBV.xml
# filename of the cyc/veh SVM classifier
bv-svm-filename = modelBV.xml
# filename of a Ultralytics-compatible model, eg Yolov8
# if the filename is valid, it will be used, otherwise the SVMs
dl-filename = yolov8x.pt
# percent increase of the max of width and height of the bounding box of features extracted for classification
percent-increase-crop = 0.2
# min number of pixels in cropped image to classify by SVM
min-npixels-crop = 800
# square size to resize image crops for HoG computation
hog-rescale-size = 64
# number of HoG orientation
hog-norientations = 9
# number of pixels per cell for HoG computation
hog-npixels-cell = 8
# number of cells per block for HoG computation
hog-ncells-block = 2
# block normalization method (L1, L1-sqrt, L2, L2-Hys)
hog-block-norm = L1-sqrt
# object confidence threshold for detection
confidence = 0.25
# method to aggregate road user speed: mean, median or any (per)centile
speed-aggregation-method = median
# number of frames to ignore at both ends of a series (noisy)
nframes-ignore-at-ends = 2
# centile for the speed aggregation, if centile is chosen
speed-aggregation-centile = 50
# speed value below which all classes are equiprobable (distributions give odd values there) (km/h)
min-speed-equiprobable = 3.33
# maximum proportion of the instants with unknow appearance classification to use speed information
max-prop-unknown-appearance = 0.66
# maximum pedestrian speed (agregate: mean, median, 85th centile, etc.) 10 km/h
max-ped-speed = 10.0
# maximum cyclist speed (agregate: mean, median, 85th centile, etc.) 30 km/h (3xped)
max-cyc-speed = 30.0
# mean pedestrian speed and standard deviation (in a normal distribution) 4.91+-0.88 km/h
mean-ped-speed = 4.91
std-ped-speed = 0.88
# mean cyclist speed and standard deviation (in a log-normal distribution) 11.+-4.83 km/h
# to multiply the parameters by a, loc = loc+ln(a)
cyc-speed-loc = 2.31
cyc-speed-scale = 0.42
# mean vehicle speed and standard deviation (in a normal distribution) 18.45+-7.6 km/h
mean-veh-speed = 18.45
std-veh-speed = 7.6
